[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
startCommand = "apache2-foreground"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
